body
{
  text-align: center;
  background-color: mediumslateblue;
  font-family: Roboto ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*h1
{
  
}*/
h1::before
{
  content: "🙐";
}
h1::after
{
 content: "🙖"; 
}
hr
{
  border-color: darkslateblue;
  margin: 1rem auto;
}
h2::before
{
  content: "🙛";
}
h2::after
{
  content: "🙙";
}
div
{
  float: left;
  text-align: left;
  box-sizing: border-box;
  /*! border-style: dashed; */
  width: 33%;
  background-color:slateblue;
}
div > img
{
  float: left;
  width: 33%;
}
#disclaimer_text
{
  font-family: system-ui;
  font-size: small;
}