h1
{
  text-align: center;
}
h1::before
{
  content: "🙐";
}
h1::after
{
 content: "🙖"; 
}
body
{
  background-color: mediumslateblue;
  font-family: Roboto ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div
{
  float: left;
  box-sizing: border-box;
  /*! border-style: dashed; */
  width: 33%;
  background-color:slateblue;
}
div > img
{
  float: left;
  width: 33%;
}